@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

:root {
    --offwhite-color: rgb(243, 243, 243);
    --notwhite-color: rgb(249, 251, 252);
    --beije-color: rgb(167, 170, 156);
    --myellow-color: rgb(245,191,80);
    --mypink-color: rgb(192,77,69);
    --mydark-color: rgb(51,63,114);
    --lightblue-color: rgb(69,177,210);


}

body{
    background-color: white;
    font-family: "Rajdhani", "Arial", "Calibri", sans-serif;
    font-size: 1rem;
    margin: 0;
}

img{
  width: 100%;
  height: auto;
  margin-right: 1rem;
}

table{
  overflow-x: auto;
}

th, td{
  padding: .3rem 1.2rem;
}

.btn, .fileContainer:hover{
  /* background-color: var(--mypink-color); */
  background-color: firebrick;
  padding: .4rem .7rem;
  color: white;
  border-radius: 5px;
}

.wrapper{
    margin: auto;
    background-color: var(--offwhite-color);
}


/* ================================================ */
/* Navigation Bar */

nav{
    background-color: var(--mydark-color);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: white;
    text-align: left;
    font-size: 1.6rem;
    margin: 0;
    margin-left: 1rem;

    line-height: 2.5;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul a{
    text-align: center;

    background-color: var(--mypink-color);
    width: 60px;

    padding-left: 0;
    font-weight: 700;
    border-radius: 5px;
}


nav a:link, 
nav a:visited{
    color: white;
    text-decoration: none;
}

nav ul a:active{
  background-color: var(--offwhite-color);
  color: var(--mypink-color);
} 

nav ul a:hover{
    /* background-color: #fef9e7; */
    background-color: var(--offwhite-color);
}

nav ul a:hover li{
    color: black;
}

/* ================================================ */
/* Main and Footer */

main{
    width: 100%;
    margin-top:0;
    padding-bottom:15px;

    min-height: 500px;
}

footer{
    box-sizing: border-box;
    border-top: 1px solid grey;
    background-color:  grey;
    width: 100%;
    /* height: 50px; */
    line-height: 4;

    font-size: 0.8em;
    padding-left: 1rem;
    color: white;
    font-weight: 500;
}

footer p{
  margin: 0;
}


/*=============  base.html CSS (up) ==================*/

#home{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#about{
  /* box-sizing: border-box; */
  display: flex;
  flex-flow: row wrap;
}

#about img{
  /* flex: 0 0 10%; */
  height: auto;
}

h2{
    color: firebrick;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-size: 1.3em;
}

.cardd{
    flex: 1 0 40%;
    margin: 0 0 1.5rem 0;

    /* height: 10rem; */
    padding: 1rem;

    /* width: 100%; */
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

/* #get-graph{
  background-color: var(--beije-color);
}

.cardd:first{
  padding: 0;
  background-color: blue;
} */

.cardd:nth-child(even){
    margin: 0 0 1.5rem 1.5rem;
}

/* #get-graph{
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
} */

#disclaimer{
  background-color: var(--mypink-color);
  color: var(--offwhite-color);
}

#disclaimer a, #disclaimer h2{
  color: var(--offwhite-color);
}

/* .top{
    width: 100%;
} */
/*=============  maq_details.html  ==================*/

.machDet{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.machDet div span{
  font-weight: bold;
}

.machDet div{
  flex: 1 0 50%;
  margin-bottom: 1rem;
}

/*=============  index.html CSS (up) ==================*/

h3{
    margin-top: 0px;
    margin-bottom: 0px;
    color: darkgray;
}

table{
    word-wrap:break-word;
    display: inline-block;
    vertical-align: text-top;
    text-align: left;
}

th{
    text-align: left;
    font-size: 1.1em;
}

#hoje{
    color: red;
}

li{
    font-size: 1.0em;
}


#top_left{
    width: 55%;
    float: left;
    overflow: hidden;
}

#top_right{
    width: 20%;
    float: right;
    overflow: hidden;
}

#mid_left{
    width: 49%;
    float: left;
    overflow: hidden;
}

#mid_right{
    width: 49%;
    float: right;
    overflow: auto;
}


#m01 div{
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #5970B2;
}

#m01 div a{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    /* white-space: nowrap; */
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #2875DE;
    font: 11px arial;
}

#m01 div a:hover{
    background: #49A3FF;
    color: #FFF;
}


/* MODELO 1 > 3 COLUNAS (direita, meio e esquerda)
 http://matthewjamestaylor.com/blog/equal-height-columns-4-column.htm
 */
#esq{
    width: 30%;
    padding-top: 0;
    padding-right: 25px;
    padding-bottom: 0;
    padding-left: 0;
    height: 700px;

    float: left;
    position: relative;
    overflow: hidden;
}

#dir{
    width: 34%;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    height: 700px;

    float: right;
    position: relative;
    overflow: hidden;
}

#frame_top{
    margin-top: 0px;
}


/* MODELO 4 > 2 colunas > esq + dir_resto */
#dir_resto{
    width: 60%;
    background-color: #E2E1E9;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
    height: 850px;
    color: #000;

    float: left;
    position: relative;
    overflow: hidden;
}

/* MODELO 5 > 2 colunas > esq_grande + dir */
#esq_grande{
    width: 60%;
    padding-top: 0;
    padding-right: 25px;
    padding-bottom: 0;
    height: 500px;
    color: #000;
    float: left;
    position: relative;
    overflow: hidden;
}

/* MODELO 5 > 2 colunas > esq2 + dir2 */

#esq2 {
    width: 45%;
    padding-top: 0;
    padding-right: 25px;
    padding-bottom: 0;
    height: 500px;
    color: #000;

    float: left;
    position: relative;
    overflow: hidden;
}

#dir2 {
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    height: 500px;

    float: left;
    position: relative;
    overflow: hidden;
}

/* MODELO 6 > lista de DIVs - uma embaixo da outra */

#lista1 {
    width: 100%;

    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;

    text-decoration: none; */
    margin-top: 0px;

    float: left;
    position: relative;
    overflow: hidden;
}

/* new PECK DETAIL report */

#test_top h2{
  padding-left: 1.2rem;
}

#test_top img{
  margin-top: 1rem;
  width: 50px;
  padding-left: 1.2rem;
}

#test_top h3{
  padding-left: 1.2rem;
}

@media screen and (min-width: 500px)
{
    .wrapper{
        width: 1100px;
        height: 100%;
    }

    main{
      padding: 1.5rem;
      box-sizing: border-box;
    }

    nav ul{
        text-align: right;
        display: flex;
    }

    nav ul a{
        padding: 0 1.1rem 0 ;
        margin-right: .4rem;
        line-height: 2.5;
    }

    #peck-det{
      display: flex;
      flex-flow: row wrap;
    }

    #test_top{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    #test_top h2{
      grid-area: 1/1/3/3;
    }


}


/*==========================================================*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
