{% extends 'peck/base.html' %}

{% block corpo %}
    <div id="frame_top">
        <h2>Detalhes do Peck Selecionado  </h2>
        <!-- <h2>{% detalhe_peck.mac.filepath %}</h2> -->
        {% if detalhe_peck.pec.filepath != None %}
        <!-- <a href="../../../peck/{{ detalhe_peck.doc }}/">abrir arquivo PECK</a> -->
        <!-- <a href="{% url 'detailspeck' detalhe_peck.mac.filepath %}">abrir arquivo PECK</a> -->
            <!-- <a href="{% url 'peck:detailspeck' detalhe_peck.pec.filepath %}">abrir arquivo PECK</a> -->
        {% endif %}
        {% if detalhe_peck %}
            <table>
                <tr>
                        <th>Cliente</th>
                        <td>{{ detalhe_peck.pec.client_id }}</td>
                </tr>
                <tr>
                        <th>Serial</th>
                        <td>{{ detalhe_peck.pec.pSerial }}</td>
                </tr>
                <tr>
                        <th>Modelo</th>
                        <td>{{ detalhe_peck.pec.pModelo }}</td>
                </tr>
                <tr>
                        <th>Firmware</th>
                        <td>{{ detalhe_peck.pec.firmware }}</td>
                </tr>
                <tr>
                        <th>Data</th>
                        <td>{{ detalhe_peck.pec.createData|date:'d-m-Y' }}</td>
                </tr>
                <tr>
                        <th>Ink Type</th>
                        <td>{{ detalhe_peck.pec.ink }}</td>
                </tr>
                <tr>
                        <th>Carga da Bateria</th>
                        <td>{{ detalhe_peck.pec.bat }}</td>
                </tr>
                <tr>
                        <th>Motor Feed</th>
                        <td>{{ detalhe_peck.pec.feed }} horas</td>
                </tr>
                <tr>
                        <th>Motor Scan</th>
                        <td>{{ detalhe_peck.pec.scan }} horas</td>
                </tr>
                <tr>
                        <th>Bomba/Pump</th>
                        <td>{{ detalhe_peck.pec.pump }} vezes</td>
                </tr>
                <tr>
                        <th>Limpezas de Cabeça</th>
                        <td>{{ detalhe_peck.pec.limp }} horas</td>
                </tr>
                <tr>
                        <th>Horas desde a Ultima Limpeza</th>
                        <td>{{ detalhe_peck.pec.clean }} horas</td>
                </tr>
                <tr>
                        <th>Contagem de WIPES</th>
                        <td>{{ detalhe_peck.pec.wipe }} vezes</td>
                </tr>
                <tr>
                        <th>Volume de Liquido na Garrafa</th>
                        <td>{{ detalhe_peck.pec.liq }} ml</td>
                </tr>
            </table>
        {% else %}
            <br/>
            <p>{{ err.mensagem }}</p>
        {% endif %}
    </div>
{% endblock %}
