{% extends 'peck/base.html' %}

{% block corpo %}
    <div id="frame_top">
        <h2>Peck Details</h2>
            <table>
                <tr>
                        <th>Client</th>
                        <td>{{ tohtml.c.company }}</td>
                </tr>
                <tr>
                        <th>Serial</th>
                        <td>{{ tohtml.pek.pSerial }}</td>
                </tr>
                <tr>
                        <th>Model</th>
                        <td>{{ tohtml.pek.pModelo }}</td>
                </tr>
                <tr>
                        <th>Firmware</th>
                        <td>{{ tohtml.pek.firmware }}</td>
                </tr>
                <tr>
                        <th>Date</th>
                        <td>{{ tohtml.pek.createData|date:'d-m-Y' }}</td>
                </tr>
                <tr>
                        <th>Ink Type</th>
                        <td>{{ tohtml.pek.ink }}</td>
                </tr>
                <tr>
                        <th>Batery Status</th>
                        <td>{{ tohtml.pek.bat }}</td>
                </tr>
                <tr>
                        <th>Motor Feed</th>
                        <td>{{ tohtml.pek.feed }} hours</td>
                </tr>
                <tr>
                        <th>Motor Scan</th>
                        <td>{{ tohtml.pek.scan }} hours</td>
                </tr>
                <tr>
                        <th>Pump</th>
                        <td>{{ tohtml.pek.pump }} times</td>
                </tr>
                <tr>
                        <th>Head Cleaning</th>
                        <td>{{ tohtml.pek.limp }} hours</td>
                </tr>
                <tr>
                        <th>Since last cleaning</th>
                        <td>{{ tohtml.pek.clean }} hours</td>
                </tr>
                <tr>
                        <th>Wipe Count</th>
                        <td>{{ tohtml.pek.wipe }} times</td>
                </tr>
                <tr>
                        <th>Bottle Liquid</th>
                        <td>{{ tohtml.pek.liq }} ml</td>
                </tr>
            </table>
    </div>
{% endblock %}
