{% extends 'peck/base.html' %}
{% load static %}
{% block corpo %}
<div id="home">

    <div class="cardd">
      <h2><i class="fas fa-trophy"></i> TOP Printer Models</h2>
      <canvas id="get-graph"></canvas>
    </div>

    <div class="cardd">
      <h2><i class="fas fa-bath"></i> PECK file upload</h2>

            <form method="POST" action="{% url 'peck:uploadfile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <label class="fileContainer">
                  Click here to select a file!
                    <input type="file" name="file" id="inputfile" />
                </label> -->
                <input type="file" name="file" id="inputfile" />
                <br>
                <br>
                <input type="submit" value="Upload" class="btn"/>
            </form>

          {% if err %}
          <p>{{ err }}</p>
          {% endif %}
    </div>

    <!-- <div class="cardd">
        {% if not query %}
                <h2><i class="fas fa-search"></i> Search for CLIENTs or SERIAL Number</h2>
                <form method="get" action="{% url 'peck:search_cli' %}">
                    Client(s): <input type="text" name="q" >
                    <input type="submit" value="buscar" >
                </form>
        {% else %}
                <h2>List of CLIENTs or SERIAL Numbers:</h2>
                <table>
                        <tr>
                                <th>Client</th>
                                <th>Company</th>
                        </tr>
                    {% for maq in db %}
                        <tr>
                                <td>{{ maq.contact }}</td>
                                <td>{{ maq.company }}</td>
                                <td><a href="../../../peck/report/{{ maq.serial }}/"/>{{ maq.serial }}</a></td>
                                <td><a href="{% url 'peck:report' maq.serial %}"/>{{ maq.serial }}</a></td>
                                <td>{{ maq.machine_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% endif %}
    </div> -->

    <div class="cardd" id="about">
        <h2><i class="fas fa-at"></i> About</h2>
        <img src="{% static './peck/img/roland5.png' %}" alt="roland logo">
        <p>This is a tool to help Roland clients to have a quick view of their printer's status based on the peck file the printer produces.</p>
    </div>
    <div class="cardd" id="disclaimer">
        <h2><i class="fab fa-black-tie"></i> Disclaimer</h2>
        <p>This is an experimental webtool. It has been developed based on the software developer's personal experience which has no professional or commercial relationship with Roland DGA Corporation. <br> <br>For official Roland documentation and information please contact Roland DGA Corporation. <br> <br>Official website at: <a href="https://www.rolanddga.com/  ">https://www.rolanddga.com/</a>.</p>
    </div>

</div>

<script type="text/javascript">
  var endpoint = '/api/getgraph';
  var dd = [];
  var lbs = ''

  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(info){
      var lbls = [];
      var dt = [];

      for (var key in info) {
          lbls.push(key);
          dt.push(info[key]);
          console.log(key + " = " + info[key]);
      }

      // RANDOMIZE COLOR based on the number of ITEMS
      // var num_colors = dt.length;
      // for(i = 0; i < 360; i += 360 / num_colors) {
      //     // HSLColour c;
      //     var c = new HSLColour;
      //     c.hue = i;
      //     c.saturation = 90 + randf() * 10;
      //     c.lightness = 50 + randf() * 10;
      //
      //     addColor(c);
      // }
      // console.log(c);

      var optionsPie = {
              legend: {
                  display: true,
                  labels: {
                      fontColor: 'rgb(255, 99, 132)'
                  },
                  position: 'right'
              }
            }
      var context = document.getElementById('get-graph');
      var chart = new Chart(context, {
        type: 'pie',
        data: {
            labels: lbls,
            datasets: [{
                backgroundColor: [
                  'rgb(249, 251, 252)',
                  'rgb(167, 170, 156)',
                  'rgb(245,191,80)',
                  'rgb(192,77,69)',
                  'rgb(51,63,114)',
                  'rgb(69,177,210)',
              ],
                borderColor: 'rgb(255, 255, 255)',
                data: dt,
            }]
        },
        // options: optionsPie
      });
    },
    error: function(error_data){
      console.log("error")
      console.log(error_data)
    }
  });

</script>
{% endblock %}
