{% extends 'peck/base.html' %}

{% block corpo %}
<div id="home">
    <div class="meio">
      <h2>PECK file upload</h2>

            <form method="POST" action="{% url 'peck:uploadfile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <label class="fileContainer">
                  Click here to select a file!
                    <input type="file" name="file" id="inputfile" />
                </label> -->
                <input type="file" name="file" id="inputfile" />
                <br>
                <br>
                <input type="submit" value="Upload" class="btn"/>
            </form>

          {% if err %}
          <p>{{ err }}</p>
          {% endif %}
    </div>

    <div class="meio">
        {% if not busca %}
                <h2>Search for CLIENTs or SERIAL Number</h2>
                <form method="get" action="{% url 'peck:search' %}">
                    Client(s): <input type="text" name="q" >
                    <input type="submit" value="buscar" >
                </form>
        {% else %}
                <h2>List of CLIENTs or SERIAL Numbers:</h2>
                <table>
                        <tr>
                                <th>Client</th>
                                <th>Company</th>
                                <th>Serial</th>
                                <th>Id</th>
                        </tr>
                    {% for maq in busca %}
                        <tr>
                                <td>{{ maq.contact }}</td>
                                <td>{{ maq.company }}</td>
                                <!-- <td><a href="../../../peck/report/{{ maq.serial }}/"/>{{ maq.serial }}</a></td> -->
                                <td><a href="{% url 'peck:report' maq.serial %}"/>{{ maq.serial }}</a></td>
                                <td>{{ maq.machine_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% endif %}
    </div>
    <div id="getgraph">

    </div>
</div>
<script type="text/javascript">
  var endpoint = 'peck/api/getgraph'
  $.ajax({
    method: "GET",
    url: endpoint,
    sucess: function(data) {
      console.log(data)
    },
    error:  function(eror_data){
      console.log("error")
      console.log(error_data)
    }
  })
</script>
{% endblock %}
