{% extends 'peck/base.html' %}

{% block corpo %}
<div id="frame_top">
    <h2>List of Clients</h2>
    <table>
            <tr>
                    <th>Key</th>
                    <th>Client</th>
                    <th>Serial</th>

            </tr>
        {% for item in listao.cli %}
            <tr>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.company }}</td>
                    {% for m in listao.maq %}
                        {% if item.pk == m.client_id %}
                        <td>{{ m.serial }}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
        {% empty %}
            <tr>
                    <td> Empty Database!
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
