{% extends 'peck/base.html' %}

{% block corpo %}
<div id="frame_top">
    <h2>List of Clients</h2>
    <table>
            <tr>
                    <th>Key</th>
                    <th>Client</th>
                    <th>Serial</th>

            </tr>
        {% for item in listao.pek %}
            <tr>
                    <td>{{ item.machine.client.pk }}</td>
                    <td>{{ item.machine.client.company }}</td>
                    <td><a href="{% url 'peck:peck-machinedet' maq_serial=item.pSerial %}">{{ item.pSerial }}</a></td>
            </tr>
        {% empty %}
            <tr>
                    <td> Empty Database!
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
