{% extends 'peck/base.html' %}

{% block corpo %}

    <div id="frame_top">
        <h2>List of Printers</h2>

        <table>
                <tr>
                        <th>Machine ID</th>
                        <th>Client</th>
                        <th>Serial</th>
                </tr>
            {% for m in listao.pek %}
                <tr>
                        <td>{{ m.machine.pk }}</td>
                        <td>{{ m.machine.client.company }}</td>
                        <td><a href="{% url 'peck:peck-details' peck_id=m.pk %}">{{ m.pSerial }}</a></td>
                </tr>
            {% empty %}
                <tr>
                        <td> Empty Database!!</td>
                        <td></td>
                        <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
