{% extends 'peck/base.html' %}

{% block corpo %}

    <div id="frame_top">
        <h2>List of Printers</h2>

        <table>
                <tr>
                        <th>Machine ID</th>
                        <th>Client</th>
                        <th>Serial</th>
                </tr>
            {% for m in listao.maq %}
                <tr>
                        <td>{{ m.pk }}</td>
                        {% for v in listao.cli %}
                            {% if v == m.client_id %}
                            <td>{{ v.company }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ m.serial }}</td>
                </tr>
            {% empty %}
                <tr>
                        <td> Empty Database!!</td>
                        <td></td>
                        <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
