{% extends 'peck/base.html' %}

{% block corpo %}
<div id="frame_top">
    <h2>List of Models & Life of Components</h2>
    <table>
            <tr>
                    <th>ID</th>
                    <th>Model</th>
                    <th>Qty Heads</th>
                    <th>Scan Motor</th>
                    <th>Pump</th>
                    <th>Felt</th>
                    <th>Tubing</th>
                    <th>Wiper</th>
                    <th>UV Lamp</th>
            </tr>
        {% for repo in lista_modelos %}
            <tr>
                    <td>{{ repo.pk }}</td>
                    <td>{{ repo.model }}</td>
                    <td>{{ repo.heads }}</td>
                    <td>{{ repo.scan }}</td>
                    <td>{{ repo.pump }}</td>
                    <td>{{ repo.felt }}</td>
                    <td>{{ repo.tube }}</td>
                    <td>{{ repo.wipe }}</td>
                    <td>{{ repo.uvlamp }}</td>
            </tr>
        {% empty %}
            <tr>
                    <td> Database Empty!!</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
