{% extends 'peck/base.html' %}

{% block corpo %}

    <div id="frame_top">
        <h2>Lista de Peck Reports</h2>
        <table>
                <tr>
                        <th>ID</th>
                        <th>Serial</th>
                        <th>Modelo</th>
                        <th>Data</th>
                        <th>Firmware</th>
                        <!-- <th>Peck Original</th> -->
                </tr>

            {% for repo in lista_pecks %}
                <tr>
                        <td>{{ repo.id }}</td>
                        <!-- <td><a href="../detalhe/{{ repo.pk }}/">{{ repo.serial }}</a></td> -->
                        <!-- <td><a href="{% url 'peck:detailspeck' repo.pk %}">{{ repo.pSerial }}</a></td> -->
                        <!-- <td><a href="{% url 'detailspeck' repo.pk %}">{{ repo.pSerial }}</a></td> -->

                        <!-- <td><a href="{% url 'peck:detailspeck' repo.pk %}">{{ repo.pSerial }}</a></td> -->
                        <td>{{ repo.pModelo }}</td>
                        <td>{{ repo.createDate|date:'d-m-Y' }}</td>
                        <td>{{ repo.firmware }}</td>
                        <!-- <td><a href="{% url 'peck:listapeck' repo.filepath %}/">{{ repo.filepath }}</a></td> -->
                </tr>
            {% empty %}
                <tr>
                        <td> Base de dados VAZIA!!</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
