{% extends 'peck/base.html' %}

{% block corpo %}

    <div id="frame_top">
        <h2>List of Peck Reports</h2>
        <table>
                <tr>
                        <th>ID</th>
                        <th>Serial</th>
                        <th>Modelo</th>
                        <th>Data</th>
                        <th>Firmware</th>
                </tr>

            {% for repo in lista_pecks %}
                <tr>

                        <td>{{ repo.id }}</td>
                        <td>{{ repo.pSerial }}</td>
                        <td>{{ repo.pModelo }}</td>
                        <td><a href="{% url 'peck:detailPeck' repo.id %}">{{ repo.createDate|date:'d-m-Y' }}</a></td>
                        <td>{{ repo.firmware }}</td>
                </tr>
            {% empty %}
                <tr>
                        <td> Empty Database!!</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
